@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/table.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">商品订单列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    @*<table class="table table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>年龄</th>
                                <th>毕业学校</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="row in rows ">
                                <tr>
                                    <td>{{row.Name}}</td>
                                    <td>{{row.Age}}</td>
                                    <td>{{row.School}}</td>
                                    <td>{{row.Remark}}</td>
                                    <td><a href="#" v-on:click="Edit(row)">编辑</a>&nbsp;&nbsp;<a href="#" v-on:click="Delete(row.Id)">删除</a></td>
                                </tr>
                            </template>
                               <tr>
                                <td><input type="text" class="form-control" v-model="rowtemplate.Name" /></td>
                                <td><input type="text" class="form-control" v-model="rowtemplate.Age" /></td>
                                <td>
                                    <select class="form-control" v-model="rowtemplate.School">
                                        <option>中山小学</option>
                                        <option>复兴中学</option>
                                        <option>光明小学</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" v-model="rowtemplate.Remark" /></td>
                                <td><button type="button" class="btn btn-primary" v-on:click="Save">保存</button></td>
                            </tr>
                        </tbody>
                    </table>*@
                    <table id="tb_departments" data-reorderable-columns="true"></table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


