@{
    ViewBag.Title = "账号管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/userInfo.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h3 class="text-info">账号管理</h3>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div id="toolbar">
                        <span class="text-info" style="font-size:30px">账号管理</span>
                    </div>
                    <table id="tb_userinfo" data-reorderable-columns="true"></table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>